[submodule "vimfiles"]
	path = vimfiles
	url = git@github.com:dlanileonardo/vimfiles.git
[submodule "base16-builder"]
	path = base16-builder
	url = git@github.com:dlanileonardo/base16-builder.git
[submodule "awesome-terminal-fonts"]
	path = awesome-terminal-fonts
	url = git@github.com:gabrielelana/awesome-terminal-fonts.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
