[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[user]
  name = Dlani Mendes
  email = dlanileonardo@gmail.com
  signingkey = C8B858EE
[credential]
  helper = osxkeychain
[alias]
  cl = clone
  co = checkout
  ci = commit
  pu = pull
  ps = push
[push]
  default = current
[pull]
  default = current
  rebase = true
[commit]
  template = ~/.gitmessage.txt
  gpgsign = true
[core]
  excludesfile = /Users/dlani/.gitignore
  editor = vim
  autocrlf = input
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  syntax-theme = chameleon
  ; Tema que eu não consegui colocar em arquivo externo
  dark = true
  line-numbers = true
  side-by-side = true
  keep-plus-minus-markers = true
  syntax-theme = Nord
  file-style = "#434C5E" bold
  file-decoration-style = "#434C5E" ul
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  hunk-header-style = omit
  line-numbers-left-format = " {nm:>1} │"
  line-numbers-left-style = red
  line-numbers-right-format = " {np:>1} │"
  line-numbers-right-style = green
  line-numbers-minus-style = red italic black
  line-numbers-plus-style = green italic black
  line-numbers-zero-style = "#434C5E" italic
  minus-style = bold red
  minus-emph-style = bold red
  plus-style = bold green
  plus-emph-style = bold green
  zero-style = syntax
  blame-code-style = syntax
  blame-format = "{author:<18} ({commit:>7}) {timestamp:^12} "
  blame-palette = "#2E3440" "#3B4252" "#434C5E" "#4C566A"
[branch]
  autosetuprebase = always
[merge]
  tool = meld
  conflictstyle = diff3
[diff]
  # tool = meld
  # external = meld
  colorMoved = default
[gui]
  editor = sublime_text
  recentrepo = /Volumes/Workspace/mobile/achievemore
[difftool]
  prompt = true
  external = meld
[apply]
  whitespace = nowarn
[bulkworkspaces]
  achievemore = /Users/dlani/projetos/rails/achievemore-bundle
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  program = /usr/local/bin/gpg
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[init]
  defaultBranch = master
[include]
  path = ~/.dotfiles/themes.gitconfig
