[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[user]
  name = Dlani Mendes
  email = dlanileonardo@gmail.com
  signingkey = DAFAEB02C16393DE
[credential]
  helper = osxkeychain
[alias]
  cl = clone
  co = checkout
  ci = commit
  pu = pull
  ps = push
[push]
  default = current
[pull]
  default = current
[commit]
  template = ~/.gitmessage.txt
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
  editor = nano
  autocrlf = input
[branch]
  autosetuprebase = always
[merge]
  tool = meld
[diff]
  # tool = meld
  # external = meld
[gui]
  editor = sublime_text
	recentrepo = /Volumes/Workspace/mobile/achievemore
[difftool]
  prompt = true
  external = meld
[apply]
   whitespace = nowarn
[bulkworkspaces]
  achievemore = /Users/dlani/projetos/rails/achievemore-bundle
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
	required = true
[gpg]
  program = gpg
